body {
    margin: 0;
    padding: 0;
    background: rgb(9, 9, 9);
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.judul {
    margin-top: 30px;
    font-size: 36px;
    color: rgb(220, 220, 220);
    text-shadow: 0 0 10px #fff, 0 0 20px #ff69b4;
}

.subjudul {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff69b4;
    opacity: 0.9;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px;
}

.photo {
    position: relative;
}

.photo img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
    transition: transform 0.3s;
}

.photo img:hover {
    transform: scale(1.05);
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.video-container video {
    width: 45%;        /* sebelumnya 70% */
    max-width: 300px;  /* sebelumnya 500px */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.ig-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.ig-text {
    font-size: 14px;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff69b4;
}

/* Love animation */
.heart {
    position: fixed;
    color: white;
    font-size: 20px;
    animation: float 5s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
}
